# MusicBrainz Artist Tables (CSV) — What’s inside & how to use

This notebook explains the CSV tables exported from the MusicBrainz **artist** JSON dump.
Goal: help teammates understand **what each table contains**, **how to join**, and **how to create features**.

## Files (in `artist_child_csv/`)
- `artist_aliases.csv`
- `artist_tags.csv`
- `artist_genres.csv`
- `artist_isnis.csv`
- `artist_ipis.csv`

## Key concept
- `artists_flat_full.csv` (Primary Key): **1 row per artist**
- child tables: **1-to-many** tables keyed by `mbid` (MusicBrainz artist ID)

In [2]:
import os
import pandas as pd

DATA_DIR = "artist_child_csv"   # adjust if needed
MAIN_ARTISTS_CSV = "artists_flat_full.csv"  # adjust path if needed

paths = {
    "artists": MAIN_ARTISTS_CSV,
    "aliases": os.path.join(DATA_DIR, "artist_aliases.csv"),
    "tags": os.path.join(DATA_DIR, "artist_tags.csv"),
    "genres": os.path.join(DATA_DIR, "artist_genres.csv"),
    "isnis": os.path.join(DATA_DIR, "artist_isnis.csv"),
    "ipis": os.path.join(DATA_DIR, "artist_ipis.csv"),
}

dfs = {}
for k, p in paths.items():
    if os.path.exists(p):
        dfs[k] = pd.read_csv(p)
        print(f"{k:8s} loaded: {p} | shape={dfs[k].shape}")
    else:
        print(f"{k:8s} MISSING: {p}")

artists  loaded: artists_flat_full.csv | shape=(2801508, 16)
aliases  loaded: artist_child_csv/artist_aliases.csv | shape=(496965, 7)
tags     loaded: artist_child_csv/artist_tags.csv | shape=(672343, 3)
genres   loaded: artist_child_csv/artist_genres.csv | shape=(414794, 4)
isnis    loaded: artist_child_csv/artist_isnis.csv | shape=(143751, 2)
ipis     loaded: artist_child_csv/artist_ipis.csv | shape=(108499, 2)

In [3]:
def describe_table(name, df, n=5):
    print("\n" + "="*80)
    print(f"TABLE: {name}")
    print("shape:", df.shape)
    print("columns:", df.columns.tolist())
    display(df.head(n))

for name, df in dfs.items():
    describe_table(name, df, n=5)

================================================================================
TABLE: artists
shape: (2801508, 16)
columns: ['mbid', 'name', 'sort_name', 'disambiguation', 'type', 'type_id', 'country', 'gender', 'gender_id', 'begin_date', 'end_date', 'ended', 'area_id', 'area_name', 'rating_value', 'rating_votes']

,mbid,name,sort_name,disambiguation,type,type_id,country,gender,gender_id,begin_date,end_date,ended,area_id,area_name,rating_value,rating_votes
0,76b84628-bb79-4589-ae7c-91e1d886fc3c,Бурундук Квартет,Burunduk Kvartet,NaN,Group,e431f5f6-b5d2-343d-8b36-72607fffb74b,RU,NaN,NaN,1997,NaN,False,1f1fc3a4-9500-39b8-9f10-f0a465557eef,Russia,NaN,0
1,d4ad0149-d8ae-4105-8009-0221fce9ff35,Minutemen,Minutemen,early 80s US hardcore punk band,Group,e431f5f6-b5d2-343d-8b36-72607fffb74b,US,NaN,NaN,1980-02,1985-12-22,True,489ce91b-6658-3307-9877-795b68554c98,United States,4.0,1
2,2e6aa947-fdd2-4c72-b042-19cc3983c7d3,The Jazz Jury,"Jazz Jury, The",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,0
3,a66999a7-ae5c-460e-ba94-1a01143ae847,Snow Patrol,Snow Patrol,NaN,Group,e431f5f6-b5d2-343d-8b36-72607fffb74b,GB,NaN,NaN,1994,NaN,False,8a754a16-0027-3a29-b6d7-2b40ea0481ed,United Kingdom,3.8,5
4,b6d26780-d862-4b7b-9d78-a186c963ea6b,Rabbit in the Moon,Rabbit in the Moon,NaN,Group,e431f5f6-b5d2-343d-8b36-72607fffb74b,US,NaN,NaN,1992,NaN,False,489ce91b-6658-3307-9877-795b68554c98,United States,NaN,0

================================================================================
TABLE: aliases
shape: (496965, 7)
columns: ['mbid', 'alias_name', 'alias_sort_name', 'locale', 'type', 'primary', 'ended']

,mbid,alias_name,alias_sort_name,locale,type,primary,ended
0,76b84628-bb79-4589-ae7c-91e1d886fc3c,Burunduk Quartet,Burunduk Quartet,NaN,NaN,NaN,False
1,d4ad0149-d8ae-4105-8009-0221fce9ff35,The Minutemen,The Minutemen,NaN,NaN,NaN,False
2,b6d26780-d862-4b7b-9d78-a186c963ea6b,Rabbit in the Monn,Rabbit in the Monn,NaN,Search hint,NaN,False
3,b6d26780-d862-4b7b-9d78-a186c963ea6b,RitM,RitM,NaN,Search hint,NaN,False
4,66421793-5ab3-4ed3-a421-ff18b4b4162a,The Milltown Brothers,The Milltown Brothers,NaN,NaN,NaN,False

================================================================================
TABLE: tags
shape: (672343, 3)
columns: ['mbid', 'tag', 'count']

                                   mbid               tag  count
0  d4ad0149-d8ae-4105-8009-0221fce9ff35     acoustic rock      1
1  d4ad0149-d8ae-4105-8009-0221fce9ff35  alternative rock      1
2  d4ad0149-d8ae-4105-8009-0221fce9ff35     post-hardcore      4
3  d4ad0149-d8ae-4105-8009-0221fce9ff35         post-punk      3
4  d4ad0149-d8ae-4105-8009-0221fce9ff35              punk      2

================================================================================
TABLE: genres
shape: (414794, 4)
columns: ['mbid', 'genre', 'count', 'disambiguation']

,mbid,genre,count,disambiguation
0,d4ad0149-d8ae-4105-8009-0221fce9ff35,acoustic rock,1,NaN
1,d4ad0149-d8ae-4105-8009-0221fce9ff35,alternative rock,1,NaN
2,d4ad0149-d8ae-4105-8009-0221fce9ff35,post-hardcore,4,NaN
3,d4ad0149-d8ae-4105-8009-0221fce9ff35,post-punk,3,NaN
4,d4ad0149-d8ae-4105-8009-0221fce9ff35,punk,2,NaN

================================================================================
TABLE: isnis
shape: (143751, 2)
columns: ['mbid', 'isni']

                                   mbid              isni
0  a66999a7-ae5c-460e-ba94-1a01143ae847  0000000123149340
1  b6d26780-d862-4b7b-9d78-a186c963ea6b  0000000103527156
2  5db9f569-cadd-4f8b-b460-d4031b0b3716  0000000109453768
3  3095b79c-0f52-4ac8-a3c4-c1a15a61aa12  0000000046377410
4  fde4460b-868a-493e-8c53-221e418c8959  0000000109062011

================================================================================
TABLE: ipis
shape: (108499, 2)
columns: ['mbid', 'ipi']

                                   mbid        ipi
0  3095b79c-0f52-4ac8-a3c4-c1a15a61aa12   66842160
1  fde4460b-868a-493e-8c53-221e418c8959   26370893
2  48db8d53-98c7-4ec8-8d49-00a89ebad8d4  349712443
3  e2cee2ab-790e-46c8-b979-2f651f1708bd   55291382
4  e2cee2ab-790e-46c8-b979-2f651f1708bd   86651645

## What each table means

### 1) `artists_flat_full.csv` (main artists table)
**Grain:** 1 row = 1 artist  
**Key:** `mbid`  
**Contains:** basic identity + stable attributes (name, type, country, life-span, area, etc.)

**Use cases**
- master lookup table for joining
- basic demographics / geography EDA
- baseline features (type, country, begin/end dates)

---

### 2) `artist_aliases.csv`
**Grain:** 1 row = 1 alias for 1 artist  
**Key:** `mbid`  
**Contains:** alias name, locale, alias type (e.g., Legal name / Artist name / Search hint), primary/ended flags.

**Use cases**
- name matching to other sources (Billboard / Spotify / Wikipedia)
- features: alias_count, number_of_locales, has_legal_name

---

### 3) `artist_tags.csv`
**Grain:** 1 row = 1 tag for 1 artist  
**Key:** `mbid`  
**Contains:** tag text + count (popularity/usage count).

**Use cases**
- descriptive features: top tags, tag_count, tag entropy
- weak genre proxy / style clustering

---

### 4) `artist_genres.csv`
**Grain:** 1 row = 1 genre for 1 artist  
**Key:** `mbid`  
**Contains:** genre text + count + disambiguation.

**Use cases**
- genre features: primary genre, genre diversity
- cleaner than tags in many cases

---

### 5) `artist_isnis.csv`
**Grain:** 1 row = 1 ISNI for 1 artist  
**Key:** `mbid`  
**Contains:** ISNI identifiers (official identity IDs).

**Use cases**
- linking to external datasets by identifier (more reliable than name)

---

### 6) `artist_ipis.csv`
**Grain:** 1 row = 1 IPI for 1 artist  
**Key:** `mbid`  
**Contains:** IPI identifiers (rights/publishing context).

**Use cases**
- niche industry linking; usually lower priority for modeling

In [5]:
def key_health(df, key="mbid"):
    return {
        "rows": len(df),
        "unique_mbid": df[key].nunique() if key in df.columns else None,
        "missing_mbid_rate": df[key].isna().mean() if key in df.columns else None,
    }

for name, df in dfs.items():
    print(name, key_health(df))

artists {'rows': 2801508, 'unique_mbid': 2801508, 'missing_mbid_rate': np.float64(0.0)}
aliases {'rows': 496965, 'unique_mbid': 287556, 'missing_mbid_rate': np.float64(0.0)}
tags {'rows': 672343, 'unique_mbid': 241432, 'missing_mbid_rate': np.float64(0.0)}
genres {'rows': 414794, 'unique_mbid': 189854, 'missing_mbid_rate': np.float64(0.0)}
isnis {'rows': 143751, 'unique_mbid': 139309, 'missing_mbid_rate': np.float64(0.0)}
ipis {'rows': 108499, 'unique_mbid': 94672, 'missing_mbid_rate': np.float64(0.0)}

In [ ]:
artists = dfs.get("artists")
aliases = dfs.get("aliases")
tags = dfs.get("tags")
genres = dfs.get("genres")

# Example: add alias_count to artists 
if artists is not None and aliases is not None:
    alias_cnt = aliases.groupby("mbid").size().rename("alias_count").reset_index()
    artists_with_alias = artists.merge(alias_cnt, on="mbid", how="left")
    artists_with_alias["alias_count"] = artists_with_alias["alias_count"].fillna(0).astype(int)
    display(artists_with_alias[["mbid","name","type","country","alias_count"]].head(10))

,mbid,name,type,country,alias_count
0,76b84628-bb79-4589-ae7c-91e1d886fc3c,Бурундук Квартет,Group,RU,1
1,d4ad0149-d8ae-4105-8009-0221fce9ff35,Minutemen,Group,US,1
2,2e6aa947-fdd2-4c72-b042-19cc3983c7d3,The Jazz Jury,NaN,NaN,0
3,a66999a7-ae5c-460e-ba94-1a01143ae847,Snow Patrol,Group,GB,0
4,b6d26780-d862-4b7b-9d78-a186c963ea6b,Rabbit in the Moon,Group,US,2
5,63265bdb-9c92-4517-94be-615773e76413,Niagara,Group,FR,0
6,22feb3d6-d1b7-420e-92b8-cd84e912101b,Jan Eggum,Person,NO,0
7,3df0dcb4-211f-46ed-ba41-26d9040ebf84,The Sticky Five Pin,NaN,NaN,0
8,5db9f569-cadd-4f8b-b460-d4031b0b3716,Suffocation,Group,US,0
9,c8d13b80-0b8b-4125-b7bc-a4d08085fa38,The Blarney Brothers,NaN,NaN,0

In [7]:
# Tag features
if tags is not None:
    tag_cnt = tags.groupby("mbid").size().rename("tag_count").reset_index()
    top_tag = (
        tags.sort_values(["mbid", "count"], ascending=[True, False])
           .groupby("mbid").head(1)[["mbid","tag","count"]]
           .rename(columns={"tag":"top_tag","count":"top_tag_count"})
    )
    print("tag_cnt shape:", tag_cnt.shape, "top_tag shape:", top_tag.shape)

# Genre features
if genres is not None:
    genre_cnt = genres.groupby("mbid").size().rename("genre_count").reset_index()
    top_genre = (
        genres.sort_values(["mbid", "count"], ascending=[True, False])
              .groupby("mbid").head(1)[["mbid","genre","count"]]
              .rename(columns={"genre":"top_genre","count":"top_genre_count"})
    )
    print("genre_cnt shape:", genre_cnt.shape, "top_genre shape:", top_genre.shape)

tag_cnt shape: (241432, 2) top_tag shape: (241432, 3)
genre_cnt shape: (189854, 2) top_genre shape: (189854, 3)

In [8]:
if artists is not None:
    feat = artists.copy()

    if aliases is not None:
        alias_cnt = aliases.groupby("mbid").size().rename("alias_count").reset_index()
        feat = feat.merge(alias_cnt, on="mbid", how="left")

    if tags is not None:
        tag_cnt = tags.groupby("mbid").size().rename("tag_count").reset_index()
        feat = feat.merge(tag_cnt, on="mbid", how="left")

    if genres is not None:
        genre_cnt = genres.groupby("mbid").size().rename("genre_count").reset_index()
        feat = feat.merge(genre_cnt, on="mbid", how="left")

    # fill missing counts
    for c in ["alias_count","tag_count","genre_count"]:
        if c in feat.columns:
            feat[c] = feat[c].fillna(0).astype(int)

    display(feat.head(10))
    print("final feature table shape:", feat.shape)

,mbid,name,sort_name,disambiguation,type,type_id,country,gender,gender_id,begin_date,end_date,ended,area_id,area_name,rating_value,rating_votes,alias_count,tag_count,genre_count
0,76b84628-bb79-4589-ae7c-91e1d886fc3c,Бурундук Квартет,Burunduk Kvartet,NaN,Group,e431f5f6-b5d2-343d-8b36-72607fffb74b,RU,NaN,NaN,1997,NaN,False,1f1fc3a4-9500-39b8-9f10-f0a465557eef,Russia,NaN,0,1,0,0
1,d4ad0149-d8ae-4105-8009-0221fce9ff35,Minutemen,Minutemen,early 80s US hardcore punk band,Group,e431f5f6-b5d2-343d-8b36-72607fffb74b,US,NaN,NaN,1980-02,1985-12-22,True,489ce91b-6658-3307-9877-795b68554c98,United States,4.00,1,1,7,6
2,2e6aa947-fdd2-4c72-b042-19cc3983c7d3,The Jazz Jury,"Jazz Jury, The",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,0,0,0,0
3,a66999a7-ae5c-460e-ba94-1a01143ae847,Snow Patrol,Snow Patrol,NaN,Group,e431f5f6-b5d2-343d-8b36-72607fffb74b,GB,NaN,NaN,1994,NaN,False,8a754a16-0027-3a29-b6d7-2b40ea0481ed,United Kingdom,3.80,5,0,7,6
4,b6d26780-d862-4b7b-9d78-a186c963ea6b,Rabbit in the Moon,Rabbit in the Moon,NaN,Group,e431f5f6-b5d2-343d-8b36-72607fffb74b,US,NaN,NaN,1992,NaN,False,489ce91b-6658-3307-9877-795b68554c98,United States,NaN,0,2,3,3
5,63265bdb-9c92-4517-94be-615773e76413,Niagara,Niagara,French rock band,Group,e431f5f6-b5d2-343d-8b36-72607fffb74b,FR,NaN,NaN,1982,1993,True,08310658-51eb-3801-80de-5a0739207115,France,NaN,0,0,3,3
6,22feb3d6-d1b7-420e-92b8-cd84e912101b,Jan Eggum,"Eggum, Jan",NaN,Person,b6e035f4-3ce9-331c-97df-83397230b0df,NO,Male,36d3d30a-839d-3eda-8cb3-29be4384e4a9,1951-12-08,NaN,False,6743d351-6f37-3049-9724-5041161fff4d,Norway,NaN,0,0,5,3
7,3df0dcb4-211f-46ed-ba41-26d9040ebf84,The Sticky Five Pin,"Sticky Five Pin, The",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,0,0,0,0
8,5db9f569-cadd-4f8b-b460-d4031b0b3716,Suffocation,Suffocation,New York death metal,Group,e431f5f6-b5d2-343d-8b36-72607fffb74b,US,NaN,NaN,1988,NaN,False,489ce91b-6658-3307-9877-795b68554c98,United States,3.75,4,0,5,4
9,c8d13b80-0b8b-4125-b7bc-a4d08085fa38,The Blarney Brothers,"Blarney Brothers, The",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,0,0,1,1

final feature table shape: (2801508, 19)

## Practical notes / gotchas

1. These are *global* MusicBrainz artists (not only “successful” artists). After merging with Billboard/Spotify, your dataset will shrink to relevant artists.

2. `mbid` is the stable join key. Name-based joins are noisy; use aliases to improve match rates.

3. Tags/genres are many-to-many. Don’t try to store them as a single CSV column; aggregate (counts, top tag/genre, diversity).

4. ISNI/IPI are identifiers, mainly useful for external linking, not directly predictive for success.