In [ ]:
import pandas as pd
###Add your own path here
file_path = "artist/mbdump/artist"
df_sample = pd.read_json(file_path, lines=True, nrows=100000)
df_sample.head()

,country,type,aliases,gender-id,relations,life-span,id,annotation,tags,end-area,...,sort-name,gender,genres,type-id,area,rating,ipis,name,disambiguation,begin-area
0,RU,Group,"[{'begin': None, 'type': None, 'type-id': None...",NaN,[{'type-id': '7950be4d-13a3-48e7-906b-5af562e3...,"{'end': None, 'ended': False, 'begin': '1997'}",76b84628-bb79-4589-ae7c-91e1d886fc3c,NaN,[],None,...,Burunduk Kvartet,NaN,[],e431f5f6-b5d2-343d-8b36-72607fffb74b,"{'type': None, 'type-id': None, 'id': '1f1fc3a...","{'votes-count': 0, 'value': None}",[],Бурундук Квартет,,None
1,US,Group,"[{'locale': None, 'name': 'The Minutemen', 'pr...",NaN,"[{'direction': 'forward', 'end': None, 'attrib...","{'ended': True, 'end': '1985-12-22', 'begin': ...",d4ad0149-d8ae-4105-8009-0221fce9ff35,NaN,"[{'count': 1, 'name': 'acoustic rock'}, {'name...",None,...,Minutemen,NaN,"[{'disambiguation': '', 'name': 'acoustic rock...",e431f5f6-b5d2-343d-8b36-72607fffb74b,"{'iso-3166-1-codes': ['US'], 'name': 'United S...","{'votes-count': 1, 'value': 4}",[],Minutemen,early 80s US hardcore punk band,"{'sort-name': 'San Pedro', 'disambiguation': '..."
2,NaN,NaN,[],NaN,[],"{'begin': None, 'ended': False, 'end': None}",2e6aa947-fdd2-4c72-b042-19cc3983c7d3,NaN,[],None,...,"Jazz Jury, The",NaN,[],NaN,None,"{'votes-count': 0, 'value': None}",[],The Jazz Jury,,None
3,GB,Group,[],NaN,"[{'type': 'collaboration', 'source-credit': ''...","{'end': None, 'ended': False, 'begin': '1994'}",a66999a7-ae5c-460e-ba94-1a01143ae847,,"[{'name': 'alternative rock', 'count': 5}, {'c...",None,...,Snow Patrol,NaN,[{'id': 'ceeaa283-5d7b-4202-8d1d-e25d116b2a18'...,e431f5f6-b5d2-343d-8b36-72607fffb74b,"{'type-id': None, 'type': None, 'id': '8a754a1...","{'votes-count': 5, 'value': 3.8}",[],Snow Patrol,,"{'iso-3166-2-codes': ['GB-DND'], 'disambiguati..."
4,US,Group,"[{'locale': None, 'name': 'Rabbit in the Monn'...",NaN,"[{'direction': 'backward', 'artist': {'country...","{'begin': '1992', 'end': None, 'ended': False}",b6d26780-d862-4b7b-9d78-a186c963ea6b,NaN,"[{'name': 'electronic', 'count': 1}, {'name': ...",None,...,Rabbit in the Moon,NaN,"[{'disambiguation': '', 'name': 'electronic', ...",e431f5f6-b5d2-343d-8b36-72607fffb74b,"{'id': '489ce91b-6658-3307-9877-795b68554c98',...","{'value': None, 'votes-count': 0}",[],Rabbit in the Moon,,"{'type': None, 'type-id': None, 'id': 'ff21865..."

In [ ]:
df_sample.columns.tolist()

['country',
 'type',
 'aliases',
 'gender-id',
 'relations',
 'life-span',
 'id',
 'annotation',
 'tags',
 'end-area',
 'isnis',
 'sort-name',
 'gender',
 'genres',
 'type-id',
 'area',
 'rating',
 'ipis',
 'name',
 'disambiguation',
 'begin-area']

In [ ]:
row = df_sample.iloc[0]
for col in df_sample.columns:
    v = row[col]
    print(col, type(v))

country <class 'str'>
type <class 'str'>
aliases <class 'list'>
gender-id <class 'float'>
relations <class 'list'>
life-span <class 'dict'>
id <class 'str'>
annotation <class 'float'>
tags <class 'list'>
end-area <class 'NoneType'>
isnis <class 'list'>
sort-name <class 'str'>
gender <class 'float'>
genres <class 'list'>
type-id <class 'str'>
area <class 'dict'>
rating <class 'dict'>
ipis <class 'list'>
name <class 'str'>
disambiguation <class 'str'>
begin-area <class 'NoneType'>

In [ ]:
####This is the function to grab Primary Key Table########
import os
import pandas as pd

file_path = "artist/mbdump/artist"
out_csv = "artists_flat_full.csv"

def flatten_artists(df: pd.DataFrame) -> pd.DataFrame:
    out = pd.DataFrame({
        "mbid": df.get("id"),
        "name": df.get("name"),
        "sort_name": df.get("sort-name"),
        "disambiguation": df.get("disambiguation"),
        "type": df.get("type"),
        "type_id": df.get("type-id"),
        "country": df.get("country"),
        "gender": df.get("gender"),          # optional
        "gender_id": df.get("gender-id"),    # optional
    })

    # life-span dict
    ls = df.get("life-span")
    if ls is not None:
        out["begin_date"] = ls.apply(lambda x: x.get("begin") if isinstance(x, dict) else None)
        out["end_date"]   = ls.apply(lambda x: x.get("end") if isinstance(x, dict) else None)
        out["ended"]      = ls.apply(lambda x: x.get("ended") if isinstance(x, dict) else None)
    else:
        out["begin_date"] = None
        out["end_date"] = None
        out["ended"] = None

    # area dict
    area = df.get("area")
    if area is not None:
        out["area_id"]   = area.apply(lambda x: x.get("id") if isinstance(x, dict) else None)
        out["area_name"] = area.apply(lambda x: x.get("name") if isinstance(x, dict) else None)
    else:
        out["area_id"] = None
        out["area_name"] = None

    # rating dict
    rating = df.get("rating")
    if rating is not None:
        out["rating_value"] = rating.apply(lambda x: x.get("value") if isinstance(x, dict) else None)
        out["rating_votes"] = rating.apply(lambda x: x.get("votes-count") if isinstance(x, dict) else None)
    else:
        out["rating_value"] = None
        out["rating_votes"] = None

    return out

chunk_size = 200_000
first = True
for df_chunk in pd.read_json(file_path, lines=True, chunksize=chunk_size):
    flat = flatten_artists(df_chunk)
    flat.to_csv(out_csv, index=False, mode="w" if first else "a", header=first)
    first = False

print("done:", out_csv)

done: artists_flat_full.csv

In [1]:
import os
import pandas as pd

file_path = "artist/mbdump/artist"
out_dir = "artist_child_csv"  # I made a separate folder for extra CSVs. feel free to delete it
os.makedirs(out_dir, exist_ok=True)

aliases_csv = os.path.join(out_dir, "artist_aliases.csv")
tags_csv    = os.path.join(out_dir, "artist_tags.csv")
genres_csv  = os.path.join(out_dir, "artist_genres.csv")
isnis_csv   = os.path.join(out_dir, "artist_isnis.csv")
ipis_csv    = os.path.join(out_dir, "artist_ipis.csv")


def export_list_of_dicts(
    df: pd.DataFrame,
    mbid_col: str,
    list_col: str,
    out_csv: str,
    keep_cols=None,
    rename_cols=None,
    first: bool = True
) -> bool:
    """
    Export a one-to-many list-of-dicts field into a child CSV.

    Robust rule here: KEEP first (using original names), then RENAME.
    This avoids losing renamed columns due to keep_cols filtering.
    """
    if list_col not in df.columns or mbid_col not in df.columns:
        return first

    tmp = df[[mbid_col, list_col]].dropna(subset=[list_col])
    if tmp.empty:
        return first

    exploded = tmp.explode(list_col).dropna(subset=[list_col])

    # normalize dicts into columns
    norm = pd.json_normalize(exploded[list_col])
    out = pd.concat([exploded[[mbid_col]].reset_index(drop=True),
                     norm.reset_index(drop=True)], axis=1)

    # keep first (original names)
    if keep_cols:
        keep = [c for c in keep_cols if c in out.columns]
        out = out[keep]

    # then rename
    if rename_cols:
        out = out.rename(columns=rename_cols)

    out.to_csv(out_csv, index=False, mode="w" if first else "a", header=first)
    return False


def export_list_of_strings(
    df: pd.DataFrame,
    mbid_col: str,
    list_col: str,
    out_csv: str,
    value_name: str,
    first: bool = True
) -> bool:
    """Export a one-to-many list-of-strings field into a child CSV."""
    if list_col not in df.columns or mbid_col not in df.columns:
        return first

    tmp = df[[mbid_col, list_col]].dropna(subset=[list_col])
    if tmp.empty:
        return first

    out = tmp.explode(list_col).dropna(subset=[list_col]).rename(columns={list_col: value_name})
    out.to_csv(out_csv, index=False, mode="w" if first else "a", header=first)
    return False


# delete old outputs if re-running
for p in [aliases_csv, tags_csv, genres_csv, isnis_csv, ipis_csv]:
    if os.path.exists(p):
        os.remove(p)

first_aliases = first_tags = first_genres = first_isni = first_ipi = True

chunk_size = 100_000
for i, df in enumerate(pd.read_json(file_path, lines=True, chunksize=chunk_size)):
    df = df.rename(columns={"id": "mbid"})

    # aliases (list of dicts)
    first_aliases = export_list_of_dicts(
        df, "mbid", "aliases", aliases_csv,
        keep_cols=["mbid", "name", "sort-name", "locale", "type", "primary", "begin-date", "end-date", "ended"],
        rename_cols={"name": "alias_name", "sort-name": "alias_sort_name"},
        first=first_aliases
    )

    # tags (list of dicts)  -> will keep 'name' then rename to 'tag'
    first_tags = export_list_of_dicts(
        df, "mbid", "tags", tags_csv,
        keep_cols=["mbid", "name", "count"],
        rename_cols={"name": "tag"},
        first=first_tags
    )

    # genres (list of dicts) -> will keep 'name' then rename to 'genre'
    first_genres = export_list_of_dicts(
        df, "mbid", "genres", genres_csv,
        keep_cols=["mbid", "name", "count", "disambiguation"],
        rename_cols={"name": "genre"},
        first=first_genres
    )

    # isnis (list of strings)
    first_isni = export_list_of_strings(
        df, "mbid", "isnis", isnis_csv, value_name="isni", first=first_isni
    )

    # ipis (list of strings)
    first_ipi = export_list_of_strings(
        df, "mbid", "ipis", ipis_csv, value_name="ipi", first=first_ipi
    )

    if i % 10 == 0:
        print("processed chunk", i)

print("done. outputs in:", out_dir)

processed chunk 0
processed chunk 10
processed chunk 20
done. outputs in: artist_child_csv

In [2]:
print("tags cols  :", pd.read_csv("artist_child_csv/artist_tags.csv", nrows=5).columns.tolist())
print("genres cols:", pd.read_csv("artist_child_csv/artist_genres.csv", nrows=5).columns.tolist())
print("aliases cols:", pd.read_csv("artist_child_csv/artist_aliases.csv", nrows=5).columns.tolist())
print("isnis cols :", pd.read_csv("artist_child_csv/artist_isnis.csv", nrows=5).columns.tolist())
print("ipis cols  :", pd.read_csv("artist_child_csv/artist_ipis.csv", nrows=5).columns.tolist())

tags cols  : ['mbid', 'tag', 'count']
genres cols: ['mbid', 'genre', 'count', 'disambiguation']
aliases cols: ['mbid', 'alias_name', 'alias_sort_name', 'locale', 'type', 'primary', 'ended']
isnis cols : ['mbid', 'isni']
ipis cols  : ['mbid', 'ipi']